* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    background-image: url("images/exterminate.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto auto;
}

.light-text {
    color:darkgray;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
}

.dark-text {
    color: darkred;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
}

/* parent flex box */
#all-boxes {
    display: flex;
    flex-flow: row nowrap;
    height: 500px;    
    justify-content: center;
    align-items: stretch;
    align-content: center;
    top:40%;
}


/* game board container */
#gameBoard {
    width: 500px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    overflow: hidden;
    position: relative;
    top: 40%;
    align-self: center;
    background-color: #003B6F;
    outline: 4px solid white;
}

/* scoreboard */
#score-container  {
    width: 300px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    align-self: center;
    background-color: lightslategrey;
    overflow: hidden;
    position: relative;
    top: 40%;
    outline: 4px solid white;
    color: darkred;
    overflow-y: auto;
    overflow-x: hidden;
}

/* board choices laid out */
#board-container {
    width: 300px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    align-self: center;
    background-color: lightslategrey;
    overflow: hidden;
    position: relative;
    top: 40%;
    outline: 4px solid white;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* character piece */
#player {
    position: absolute;
    height: initial;
    width: initial;
    outline: 1px dotted red;
    left: 0;
}

.side-list {
    list-style-type: none;
    padding-left: 10px;
    font-family: sans-serif;
    align-content: center;
}



/*
  .d-down .d-up .d-right .d-left {
  }
  

 .floor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
  */ 