/* //= require alert_message */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    background-image: url("images/exterminate.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto auto;
}

.light-text {
    color:darkgray;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.dark-text {
    color: darkred;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
    position:sticky;
    top: 0;
    background-color: rgb(132, 187, 243);
}

/* parent flex box */
.all-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    top: 0%;
    position: relative;
}

/* form div */
.form-container {
    color:darkgray;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
    align-content: center;
}

/* tardis card to capture */

#tardis {
    vertical-align: middle;
    width: 90px;
    height: 90px;
}

/* center game board 
TREAD CAREFULLY!!!
*/

    .grid {
        height: 500px;
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #003B6F;
        margin: 50px 50px 50px 50px;
        outline: 4px solid white;
        position: relative;
    }

    .grid div {
        height: 100px;
        width: 100px;
        align-items: center;
        border: 1px dotted gray;
    }

    
/* left scoreboard */
#score-container  {
    width: 300px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgb(132, 187, 243);
    outline: 4px solid white;
    color: darkred;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

/* right board choices laid out */
#board-container {
    width: 300px;
    height: 500px;
    margin: 50px 50px 50px 50px;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgb(132, 187, 243);
    outline: 4px solid white;
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}


/* lists on either side */
.side-list {
    list-style-type: none;
    padding-left: 10px;
    font-family: sans-serif;
    align-content: center;
    color:darkred;
} 

/* play button */
button {
    background-color: #003B6F;
    border-radius: 0px 0px 0px 0px;
    color: darkgray;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#myAudio {
    background-color: #003B6F;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid white;
    color: darkgray;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/* load board modal */
.modal-bg {
    position: fixed;
    font-family: fantasy;
    font-size: 20px;
    top: 23%;
    left: 43%;
    height: 200px;
    width: 300px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(132, 165, 241, 0.657);
    display: flex;
    justify-content: center;
    align-items: center; 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.modal {
    position: relative;
    background-color: white;
    padding: 20px 20px 20px 20px;
    font-family: fantasy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-btn {
    border-radius: 0px 0px 0px 0px;
    color: darkred;
    background-color: rgb(132, 187, 243);
    padding: 2px 2px 2px 100px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    border: 0px;
}

/* save score modal */
.modal-bg2 {
    position: fixed;
    font-family: fantasy;
    font-size: 20px;
    top: 23%;
    left: 40%;
    height: 200px;
    width: 400px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(139, 0, 0, 0.794);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.modal2 {
    position: relative;
    background-color: white;
    padding: 20px 20px 20px 20px;
    font-family: fantasy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-btn2 {
    background-color: #003B6F;
    border-radius: 0px 0px 0px 0px;
    color: darkgray;
    padding: 2px 2px 2px 2px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

}

.bg-active {
    visibility: visible;
    opacity: 1;
}

/* #submit-btn {
    background-color: none;
    border: 0px;
    color: black;
} */